<!DOCTYPE html>
<html>
  <head>
    <title>REDALERT</title>
    <script src="assets/js/vue.min.js"></script>
    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/lodash.min.js"></script>
    <script src="assets/js/chartist.min.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <link rel="stylesheet" href="assets/css/chartist.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700">
  </head>

  <body>
    <div id="wrapper">
    <div id="header">
      <div v-if="dataResolved" class="brand">
        REDALERT
      </div>
      <div class="overall-check-status">
        <span v-if="failCount > 0">{{ failCount }} FAILING</span>
        <img v-if="failCount > 0" class="emojione overall-status" alt="❎" src="assets/images/1f525.png">
        <span v-if="failCount === 0">ALL SUCCESSFUL</span>
        <img v-if="failCount === 0" class="emojione overall-status" alt="✅" src="assets/images/2705.png">
      </div>
    </div>
    <div id="checks">
      <div v-for="check in checks" class="server" v-bind:class="[check.status]">

        <div class="check-info">
          <img v-if="check.status === 'SUCCESSFUL'" class="emojione status-icon" alt="✅" src="assets/images/2705.png">
          <img v-if="check.status === 'FAILING'" class="emojione status-icon" alt="❎" src="assets/images/274e.png">
          <span class="check-name">{{ check.name }}</span> <span class="check-type">[{{ check.type }}]</span>
          <span class="success-rate" v-if="_.isNumber(check.successRate)">{{ check.successRate }}%&#8593;</span>
        </div>

        <div class="metric-name">
          <span class="transition">{{ check.status }} <span v-if="check.stateTransitionedAt">for {{ check.stateTransitionedAt }}</span></span></br>
          <span v-if="check.selectedMetric">{{ check.selectedMetric }} ({{ check.selectedMetricValue }})</span>
        </div>

        <chartist :data="check.events" :metric="check.selectedMetric" class="chartist"></chartist>

        <div class="check-error" v-if="check.errors">errors: {{ check.errors }} </div>
      </div>
    </div>
  </div>
    <script src="/assets/app.bundle.js"></script>
  </body>
</html>
